
<div class="container">
  <form>
    <div class="form-group">
      <label class="control-label">Select Photo</label>
      <input id="inputFile" type="file" class="file">
      <button {{action 'uploadPhoto'}}>Upload</button>
      <div id="img_meta_data"></div>
    </div>
  </form>
</div>
